<section>
<p>Image</p>
<h2>Name</h2>
<div class="container">
     <ul>
          <li>Age:</li>
          <li>Gender:</li>
          <li>Status:</li>
     </ul>
</div>
<div>
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/profile/edit">Edit</a>
    <a class="dropdown-item" href="/profile/configuration"> Connfiguration</a>
    <a class="dropdown-item" href="/auth/logout">Log Out Bitch</a>
  </div>
</div>



</div>



</section>